Mozaika/Mozaika_GUI/bin/Debug/
Mozaika/.vs/
Mozaika/Mozaika_GUI/obj/Debug/
.vs/
Mozaika/Mozaika_Logic/bin/Debug/
Mozaika/Mozaika_Logic/obj/Debug/
Mozaika/Skrypty/bin/Debug/
Mozaika/Skrypty/obj/Debug/
Mozaika/Controllers/bin/Debug/
Mozaika/Controllers/obj/Debug/

