Mozaika/Mozaika_GUI/bin/Debug/
Mozaika/.vs/
Mozaika/Mozaika_GUI/obj/Debug/
.vs/MozaikaAplikacja/FileContentIndex/3c944afd-b611-41ae-9421-2692e892fb1d.vsidx
.vs/MozaikaAplikacja/FileContentIndex/58068c7e-7473-4e84-bcf6-3216b71f088b.vsidx
.vs/MozaikaAplikacja/v17/.wsuo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Mozaika/Mozaika_GUI/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Mozaika/Mozaika_GUI/obj/Release/Mozaika_GUI.csproj.AssemblyReference.cache
